@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"].quantity::-webkit-outer-spin-button,
input[type="number"].quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]#total-price-input {
    text-align : left;
    margin: 0;
    padding: 0;
}

input[type="number"].quantity {
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
    width: 50px; /* Ubah lebar input sesuai dengan kebutuhan */
}
